* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
i {
  font-size: 40px;
  color: var(--lightblue);
}
.button-container {
  display: flex;
  align-items: center;
  margin-right: 2vw;
}
.btn {
  border-radius: 50%;
  background-color: black;
  margin: 5px;
}
